<main class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <h1>Photo Stories</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <label for="tag_search" class="">
        Search by tags
      </label>
      <input type="text"
             id="tag_search"
             name="tag_search"
             ng-model="HomeController.selected_tag"
             typeahead-editable="false"
             typeahead-no-results="&nbsp;"
             uib-typeahead="tag for tag in HomeController.tags | filter:$viewValue | limitTo:8"
             class="form-control">
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <!--(filteredItems = (items | orderBy:'order_prop' | filter:query | limitTo:4))-->
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="img in (filtered_images = ( HomeController.images | filter:{'tags':HomeController.selected_tag || ''}))">
    <!--<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="img in HomeController.images | filter:{'tags':HomeController.selected_tag || ''} track by $index">-->
      <div class="gallery-image">
        <a class="gallery-image__container" ng-click="HomeController.openLightboxModal(filtered_images,$index)">
          <img class="gallery-image__container__visualization img img-responsive" ng-src="{{img.url}}" alt="">
          <div class="gallery-image__container__description">
            <p class="gallery-image__container__description__text">{{img.description}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form class="navbar-form navbar-right" role="search" ng-if="!HomeController.getLoginStatus()">
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="HomeController.login()">Sign In</button>
      </form>

      <form class="navbar-form navbar-right" role="search" ng-if="HomeController.getLoginStatus()">
        <button type="submit" class="btn btn-danger" ng-click="HomeController.logout()">Logout</button>
      </form>
    </div>
  </div>
</main>
